body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:858px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u159 {
  position:absolute;
  left:39px;
  top:1599px;
  width:224px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:1699px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:858px;
  height:1699px;
}
#u161 {
  position:absolute;
  left:2px;
  top:842px;
  width:854px;
  visibility:hidden;
  word-wrap:break-word;
}
#u162 {
  position:absolute;
  left:48px;
  top:1617px;
  width:665px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u163_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u163 {
  position:absolute;
  left:374px;
  top:874px;
  width:74px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u165_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u165 {
  position:absolute;
  left:518px;
  top:874px;
  width:64px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#009DDA;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u167_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u167 {
  position:absolute;
  left:193px;
  top:1393px;
  width:74px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  word-wrap:break-word;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:680px;
  height:48px;
}
#u169 {
  position:absolute;
  left:48px;
  top:1643px;
  width:680px;
  height:48px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u170 {
  position:absolute;
  left:2px;
  top:8px;
  width:676px;
  word-wrap:break-word;
}
#u171_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:138px;
}
#u171 {
  position:absolute;
  left:626px;
  top:272px;
  width:217px;
  height:138px;
}
#u172 {
  position:absolute;
  left:2px;
  top:61px;
  width:213px;
  visibility:hidden;
  word-wrap:break-word;
}
