body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:550px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:48px;
}
#u215 {
  position:absolute;
  left:21px;
  top:532px;
  width:49px;
  height:48px;
}
#u216 {
  position:absolute;
  left:2px;
  top:16px;
  width:45px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
}
#u218 {
  position:absolute;
  left:29px;
  top:80px;
  width:41px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u219 {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  white-space:nowrap;
}
#u220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:2px;
}
#u220 {
  position:absolute;
  left:11px;
  top:333px;
  width:326px;
  height:1px;
}
#u221 {
  position:absolute;
  left:2px;
  top:-8px;
  width:322px;
  visibility:hidden;
  word-wrap:break-word;
}
#u222 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:24px;
}
#u223 {
  position:absolute;
  left:31px;
  top:346px;
  width:172px;
  height:24px;
  font-size:20px;
  color:#000000;
}
#u224 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u225_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:143px;
  background:inherit;
  background-color:rgba(237, 237, 237, 0.509803921568627);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225 {
  position:absolute;
  left:3px;
  top:383px;
  width:342px;
  height:143px;
}
#u226 {
  position:absolute;
  left:2px;
  top:64px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  height:57px;
}
#u227 {
  position:absolute;
  left:37px;
  top:431px;
  width:283px;
  height:57px;
  font-size:16px;
  color:#666666;
}
#u228 {
  position:absolute;
  left:0px;
  top:0px;
  width:283px;
  word-wrap:break-word;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u229 {
  position:absolute;
  left:283px;
  top:397px;
  width:43px;
  height:24px;
  font-size:20px;
  color:#FF3300;
}
#u230 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u231 {
  position:absolute;
  left:184px;
  top:494px;
  width:26px;
  height:26px;
}
#u232 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u233 {
  position:absolute;
  left:214px;
  top:500px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u234 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u235 {
  position:absolute;
  left:263px;
  top:496px;
  width:26px;
  height:25px;
}
#u236 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u237 {
  position:absolute;
  left:293px;
  top:499px;
  width:27px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u238 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:143px;
  background:inherit;
  background-color:rgba(237, 237, 237, 0.509803921568627);
  border:none;
  border-radius:15px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u239 {
  position:absolute;
  left:3px;
  top:532px;
  width:342px;
  height:143px;
}
#u240 {
  position:absolute;
  left:2px;
  top:64px;
  width:338px;
  visibility:hidden;
  word-wrap:break-word;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:24px;
}
#u241 {
  position:absolute;
  left:59px;
  top:546px;
  width:172px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u242 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:57px;
}
#u243 {
  position:absolute;
  left:37px;
  top:580px;
  width:271px;
  height:57px;
  font-size:16px;
  color:#666666;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  word-wrap:break-word;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:24px;
}
#u245 {
  position:absolute;
  left:283px;
  top:546px;
  width:43px;
  height:24px;
  font-size:20px;
  color:#FF3300;
}
#u246 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:23px;
}
#u247 {
  position:absolute;
  left:72px;
  top:82px;
  width:22px;
  height:23px;
}
#u248 {
  position:absolute;
  left:2px;
  top:4px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u249 {
  position:absolute;
  left:184px;
  top:640px;
  width:26px;
  height:26px;
}
#u250 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:19px;
}
#u251 {
  position:absolute;
  left:214px;
  top:646px;
  width:39px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u253_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:25px;
}
#u253 {
  position:absolute;
  left:263px;
  top:642px;
  width:26px;
  height:25px;
}
#u254 {
  position:absolute;
  left:2px;
  top:4px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u255_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:19px;
}
#u255 {
  position:absolute;
  left:293px;
  top:643px;
  width:27px;
  height:19px;
  font-size:16px;
  color:#666666;
}
#u256 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u257_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
}
#u257 {
  position:absolute;
  left:11px;
  top:379px;
  width:59px;
  height:51px;
}
#u258 {
  position:absolute;
  left:2px;
  top:18px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u259_img {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:24px;
}
#u259 {
  position:absolute;
  left:57px;
  top:397px;
  width:172px;
  height:24px;
  font-size:20px;
  color:#666666;
}
#u260 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u261_div {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:212px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u261 {
  position:absolute;
  left:27px;
  top:114px;
  width:194px;
  height:212px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u262 {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  white-space:nowrap;
}
#u263_div {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u263 {
  position:absolute;
  left:27px;
  top:280px;
  width:200px;
  height:45px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u264 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  white-space:nowrap;
}
#u265_div {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u265 {
  position:absolute;
  left:84px;
  top:312px;
  width:167px;
  height:15px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u266 {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  white-space:nowrap;
}
#u267_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:24px;
}
#u267 {
  position:absolute;
  left:224px;
  top:84px;
  width:120px;
  height:24px;
  font-size:20px;
  color:#FF3300;
}
#u268 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u269_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u269 {
  position:absolute;
  left:477px;
  top:171px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u270 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u271_img {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:68px;
}
#u271 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:68px;
}
#u272 {
  position:absolute;
  left:2px;
  top:26px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u273_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u273 {
  position:absolute;
  left:137px;
  top:35px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u274 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
