body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:300px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:637px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:637px;
}
#u2 {
  position:absolute;
  left:2px;
  top:310px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:13px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3 {
  position:absolute;
  left:21px;
  top:88px;
  width:262px;
  height:13px;
}
#u4 {
  position:absolute;
  left:2px;
  top:-2px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:8px;
}
#u5 {
  position:absolute;
  left:25px;
  top:91px;
  width:257px;
  height:8px;
}
#u6 {
  position:absolute;
  left:2px;
  top:-4px;
  width:253px;
  visibility:hidden;
  word-wrap:break-word;
}
